certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
et-xmlfile==1.1.0
Flask==2.0.1
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
numpy==1.20.3
openpyxl==3.0.7
pandas==1.2.4
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
rq==1.8.1
six==1.16.0
tqdm==4.61.0
urllib3==1.26.5
Werkzeug==2.0.1
